PORTAL_DOMAIN=portal.ar-systems.fr
SSO_PORTAL_DEFAULT_REALM_SLUG=ar-systems
VAULT_PORTAL_INTERNAL_TOKEN=
VAULT_SSO_PORTAL_OIDC_CLIENT_SECRET=
VAULT_PORTAL_VAULT_FERNET_KEY=
DATABASE_URL=sqlite:///var/lib/sso-portal/portal.db
