# {{ ansible_managed }}
# Snippet : redirections /proxy/{slug}/ depuis le vhost subdomain
# Inclus dans vhost-subdomain-crushftp.conf.j2
# Evite que les liens legacy créent des boucles (609cdfb)

{% if nginx_legacy_proxy_redirect_enabled | default(true) %}
location ^~ /proxy/{{ vhost.slug }}/ {
    auth_request off;
    return 301 $scheme://{{ vhost.fqdn }}$request_uri;
}
{% endif %}
